.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.radio-button {
  margin: 5px;
}

.positionInCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10cm;
}

.result {
  display: block;
  text-align: center;

}

.centerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
